@using GesN.Web.Models.ViewModels.Production
@using GesN.Web.Models.Enumerators
@model EditProductWithGroupsViewModel

@{
    // Verificações defensivas
    if (Model == null) 
    {
        throw new ArgumentNullException(nameof(Model), "O modelo não pode ser nulo");
    }
    
    var isComposite = Model.IsComposite;
    var isGroup = Model.IsGroup;
    var productTypeValue = Model.ProductType;
}

@* Incluir CSS dos floating labels *@
<link href="~/css/product-form.css" rel="stylesheet" />

@* Incluir token de antiforgery para chamadas AJAX *@
@Html.AntiForgeryToken()

<div class="container-fluid product-edit-container" data-product-id="@ViewBag.ProductId" data-is-composite="@isComposite.ToString().ToLower()" data-is-group="@isGroup.ToString().ToLower()">
    <div class="row">
        <!-- Navegação por Abas -->
        <div class="col-12">
            <ul class="nav nav-tabs" id="productEditTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="basic-tab" data-bs-toggle="tab" 
                            data-bs-target="#basic-tab-pane" type="button" role="tab">
                        <i class="fas fa-box"></i> Dados Básicos
                    </button>
                </li>
                
                @if (isComposite)
                {
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="components-tab" data-bs-toggle="tab" 
                        data-bs-target="#components-tab-pane" type="button" role="tab">
                            <i class="fas fa-cogs"></i> Componentes
                        </button>
                    </li>
                }

                @if (isGroup)
                {
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="group-items-tab" data-bs-toggle="tab" 
                                data-bs-target="#group-items-tab-pane" type="button" role="tab">
                            <i class="fas fa-list"></i> Itens do Grupo
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="group-options-tab" data-bs-toggle="tab" 
                                data-bs-target="#group-options-tab-pane" type="button" role="tab">
                            <i class="fas fa-sliders-h"></i> Opções
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="exchange-rules-tab" data-bs-toggle="tab" 
                                data-bs-target="#exchange-rules-tab-pane" type="button" role="tab">
                            <i class="fas fa-exchange-alt"></i> Regras de Troca
                        </button>
                    </li>
                }
            </ul>
        </div>
    </div>

    <!-- Conteúdo das Abas -->
    <div class="row mt-3">
        <div class="col-12">
            <div class="tab-content" id="productEditTabsContent">
                
                <!-- Aba Dados Básicos -->
                <div class="tab-pane fade show active" id="basic-tab-pane" role="tabpanel">
                    <div id="basicDataContainer">
                        @await Html.PartialAsync("_EditBasicData", Model)
                    </div>
                </div>

                <!-- Aba Componentes (só para Composite) -->
                @if (isComposite)
                {
                    <div class="tab-pane fade" id="components-tab-pane" role="tabpanel">
                        <div id="componentsContainer">
                            <!-- Carrega os componentes do produto composto -->
                            @if (Model.ComponentIndexViewModel != null)
                            {
                                @await Html.PartialAsync("~/Views/ProductComponent/_List.cshtml", Model.ComponentIndexViewModel)
                            }
                            else
                            {
                                <div class="alert alert-info">
                                    <i class="fas fa-info-circle"></i>
                                    Nenhum componente encontrado para este produto.
                                    <button type="button" class="btn btn-primary btn-sm ms-2" onclick="compositeProductManager.components.adicionarComponente('@ViewBag.ProductId')">
                                        <i class="fas fa-plus"></i> Adicionar Componente
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                }

                <!-- Abas do Grupo (só para Group) -->
                @if (isGroup)
                {
                    <div class="tab-pane fade" id="group-items-tab-pane" role="tabpanel">
                        <div id="groupItemsContainer">
                            @await Html.PartialAsync("_ProductGroupItems", Model.GroupItems)
                        </div>
                    </div>
                    
                    <div class="tab-pane fade" id="group-options-tab-pane" role="tabpanel">
                        <div id="groupOptionsContainer">
                            @await Html.PartialAsync("_ProductGroupOptions", Model.GroupOptions)
                        </div>
                    </div>
                    
                    <div class="tab-pane fade" id="exchange-rules-tab-pane" role="tabpanel">
                        <div id="exchangeRulesContainer">
                            @await Html.PartialAsync("_ProductGroupExchangeRules", Model.ExchangeRules)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Botões de Ação Fixos -->
<div class="d-flex justify-content-end gap-2 mt-3 pt-3 border-top bg-light p-3">
    <button type="button" class="btn btn-secondary" onclick="productManager.cancelarEdicao()">
        <i class="fas fa-times"></i> Cancelar
    </button>
    <button type="button" class="btn btn-primary" onclick="productManager.salvarEdicao()">
        <i class="fas fa-save"></i> Salvar Alterações
    </button>
</div>

@* Scripts necessários para produtos do tipo Group *@
@if (isGroup)
{
    <script src="~/js/ProductGroup.js" asp-append-version="true"></script>
}

@* Scripts necessários para produtos do tipo Composite *@
@if (isComposite)
{
    <script src="~/js/CompositeProduct.js" asp-append-version="true"></script>
}